                                              :: String Based Assignment Problem ::

In [30]:
#Q1.Write a program to reverse a string

def reverse_string(s):
    return s[::-1]

print(reverse_string("hello"))

olleh

In [28]:
#Q2.Check if a string is a palindrome.

def is_palindrome(s):
    return s == s[::-1]

print(is_palindrome("madam"))

True

In [29]:
#Q3.Convert a string to uppercase.

def to_upper(s):
    return s.upper()

print(to_upper("hello"))

HELLO

In [65]:
#Q4.Convert a string to lowercase.

def to_lower(s):
    return s.lower()

print(to_lower("HELLO"))

hello

In [57]:
#Q5.Count the number of vowels in a string.

def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("Data Science"))

5

In [122]:
#Q6.Count the number of consonants in a string

def count_consonants(s):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in s if char.isalpha() and char not in vowels)

count_consonants("Data Science")

6

In [124]:
#Q7.Remove all whitespaces from a string

def remove_whitespace(s):
    return s.replace(" ", "")

remove_whitespace("Full Stack Data Science")

'FullStackDataScience'

In [56]:
#Q8. Find the length of a string without using the `len()` function.

def string_length(s):
    count = 0
    for _ in s:
        count += 1
    return count

string_length("Machine Learning")

16

In [9]:
#Q9.. Check if a string contains a specific word

def contains_word(s, word):
    return word in s

contains_word("Python is powerful", "powerful")

True

In [10]:
#Q10. Replace a word in a string with another word.

def replace_word(s, old, new):
    return s.replace(old, new)

replace_word("I love data science", "love", "enjoy")

'I enjoy data science'

In [123]:
#Q11.Count the occurrences of a word in a string

def count_word_occurrences(s, word):
    return s.split().count(word)

count_word_occurrences("data science data analysis", "data")

2

In [12]:
#Q12.Find the first occurrence of a word in a string

def first_occurrence(s, word):
    return s.find(word)

first_occurrence("data science is fun and data is powerful", "data")

0

In [16]:
#Q13.Find the last occurrence of a word in a string

def last_occurrence(s, word):
    return s.rfind(word)

last_occurrence("data science is fun and data is powerful", "data")

24

In [58]:
#Q14.Split a string into a list of words

def split_words(s):
    return s.split()

split_words("Full Stack Data Science")

['Full', 'Stack', 'Data', 'Science']

In [15]:
#Q15.Join a list of words into a string

def join_words(words):
    return ' '.join(words)

join_words(["Full", "Stack", "Data", "Science"])

'Full Stack Data Science'

In [18]:
#Q16.Convert a string where words are separated by spaces to one where words are separated by underscores

def spaces_to_underscores(s):
    return s.replace(" ", "_")

spaces_to_underscores("Full Stack Data Science")

'Full_Stack_Data_Science'

In [19]:
#Q17. Check if a string starts with a specific word or phrase

def starts_with(s, prefix):
    return s.startswith(prefix)

starts_with("Data Science Pro", "Data")

True

In [20]:
#Q18.Check if a string ends with a specific word or phrase.

def ends_with(s, suffix):
    return s.endswith(suffix)

ends_with("Learn Python Programming", "Programming")

True

In [21]:
#Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

def to_title_case(s):
    return s.title()

to_title_case("hello world from data science")

'Hello World From Data Science'

In [22]:
#Q20.Find the longest word in a string

def longest_word(s):
    words = s.split()
    return max(words, key=len)

longest_word("Data science involves statistics programming and machinelearning")

'machinelearning'

In [23]:
#Q21.Find the shortest word in a string

def shortest_word(s):
    words = s.split()
    return min(words, key=len)

shortest_word("Python Java C JavaScript")

'C'

In [59]:
#Q22.Reverse the order of words in a string

def reverse_word_order(s):
    return ' '.join(s.split()[::-1])

reverse_word_order("Full Stack Data Science")

'Science Data Stack Full'

In [25]:
#Q23.Check if a string is alphanumeric.

def is_alphanumeric(s):
    return s.isalnum()

is_alphanumeric("Data123")   # True
is_alphanumeric("Data 123")  # False

False

In [26]:
#Q24. Extract all digits from a string

def extract_digits(s):
    return ''.join([char for char in s if char.isdigit()])

extract_digits("User123Score456")

'123456'

In [60]:
#Q25.Extract all alphabets from a string

def extract_alphabets(s):
    return ''.join([char for char in s if char.isalpha()])

extract_alphabets("User123Score456")

'UserScore'

In [125]:
#Q26. Count the number of uppercase letters in a string

def count_uppercase(s):
    return sum(1 for char in s if char.isupper())

count_uppercase("DataScienceIsFun")

4

In [32]:
#Q27.Count the number of lowercase letters in a string

def count_lowercase(s):
    return sum(1 for char in s if char.islower())

count_lowercase("DataScienceIsFun")

12

In [33]:
#Q28. Swap the case of each character in a string.

def swap_case(s):
    return s.swapcase()

swap_case("DataScience123")

'dATAsCIENCE123'

In [34]:
#Q29.Remove a specific word from a string.

def remove_word(s, word):
    return s.replace(word, "")

remove_word("I love data science", "love ")

'I data science'

In [35]:
#Q30.Check if a string is a valid email address

import re

def is_valid_email(s):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return bool(re.match(pattern, s))

is_valid_email("user@example.com")

True

In [36]:
#Q31.Extract the username from an email address string

def extract_username(email):
    return email.split('@')[0]

extract_username("user@example.com")

'user'

In [37]:
#Q32.Extract the domain name from an email address string

def extract_domain(email):
    return email.split('@')[1]

extract_domain("user@example.com")

'example.com'

In [38]:
#Q33. Replace multiple spaces in a string with a single space

import re

def replace_multiple_spaces(s):
    return re.sub(r'\s+', ' ', s).strip()

replace_multiple_spaces("This   is  a   test")

'This is a test'

In [61]:
#Q34.Check if a string is a valid URL.

import re

def is_valid_url(s):
    pattern = r'^(http|https)://[^\s]+$'
    return bool(re.match(pattern, s))

is_valid_url("https://www.example.com")

True

In [40]:
#Q35.Extract the protocol (http or https) from a URL string

def extract_protocol(url):
    return url.split('://')[0]

extract_protocol("https://www.example.com")

'https'

In [41]:
#Q36.Find the frequency of each character in a string.

from collections import Counter

def char_frequency(s):
    return dict(Counter(s))

char_frequency("data science")

{'d': 1, 'a': 2, 't': 1, ' ': 1, 's': 1, 'c': 2, 'i': 1, 'e': 2, 'n': 1}

In [42]:
#Q37.Remove all punctuation from a string

import string

def remove_punctuation(s):
    return s.translate(str.maketrans('', '', string.punctuation))

remove_punctuation("Hello, world!")

'Hello world'

In [43]:
#Q38.Check if a string contains only digits.

def only_digits(s):
    return s.isdigit()

only_digits("12345")  # True
only_digits("123a5")  # False

False

In [44]:
#Q39.Check if a string contains only alphabets

def only_alphabets(s):
    return s.isalpha()

only_alphabets("Hello")  # True
only_alphabets("Hello123")  # False

False

In [45]:
#Q40.Convert a string to a list of characters.

def string_to_char_list(s):
    return list(s)

string_to_char_list("Data")

['D', 'a', 't', 'a']

In [62]:
#Q41. Check if two strings are anagrams

def are_anagrams(s1, s2):
    return sorted(s1.replace(" ", "").lower()) == sorted(s2.replace(" ", "").lower())

are_anagrams("listen", "silent")

True

In [63]:
#Q42. Encode a string using a Caesar cipher

def caesar_cipher_encode(s, shift):
    result = ""
    for char in s:
        if char.isalpha():
            base = ord('A') if char.isupper() else ord('a')
            result += chr((ord(char) - base + shift) % 26 + base)
        else:
            result += char
    return result

caesar_cipher_encode("abc", 2)  # Output: "cde"

'cde'

In [48]:
#Q43.Decode a Caesar cipher encoded string

def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

caesar_cipher_decode("cde", 2)  # Output: "abc"

'abc'

In [49]:
#Q44.Find the most frequent word in a string

from collections import Counter

def most_frequent_word(s):
    words = s.split()
    return Counter(words).most_common(1)[0]

most_frequent_word("data science data analysis data")

('data', 3)

In [50]:
#Q45.Find all unique words in a string.

def unique_words(s):
    return set(s.split())

unique_words("data science data analysis")

{'analysis', 'data', 'science'}

In [64]:
#Q46.Count the number of syllables in a string

def count_syllables(word):
    word = word.lower()
    vowels = "aeiou"
    count = 0
    prev_char_was_vowel = False
    for char in word:
        if char in vowels:
            if not prev_char_was_vowel:
                count += 1
                prev_char_was_vowel = True
        else:
            prev_char_was_vowel = False
    if word.endswith("e"):
        count = max(1, count - 1)
    return count

def total_syllables(s):
    words = s.split()
    return sum(count_syllables(word) for word in words)

total_syllables("Data science is amazing")

7

In [52]:
#Q47.Check if a string contains any special characters.

import string

def contains_special_chars(s):
    special_chars = string.punctuation
    return any(char in special_chars for char in s)

contains_special_chars("Hello@World!")

True

In [53]:
#Q48. Remove the nth word from a string.

def remove_nth_word(s, n):
    words = s.split()
    if 0 <= n < len(words):
        words.pop(n)
    return ' '.join(words)

remove_nth_word("Full Stack Data Science", 2)

'Full Stack Science'

In [54]:
#Q49. Insert a word at the nth position in a string

def insert_word(s, word, n):
    words = s.split()
    words.insert(n, word)
    return ' '.join(words)

insert_word("Full Stack Data Science", "Pro", 2)

'Full Stack Pro Data Science'

In [55]:
#Q50.Convert a CSV string to a list of lists.

def csv_to_list(csv_string):
    lines = csv_string.strip().split('\n')
    return [line.split(',') for line in lines]

csv_to_list("name,age\nAlice,30\nBob,25")

[['name', 'age'], ['Alice', '30'], ['Bob', '25']]

                                                 :: List Based Practice Problem ::

In [68]:
#Q1. Create a list with integers from 1 to 10

numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
#Q2. Find the length of a list without using the `len()` function

def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

list_length([1, 2, 3, 4, 5])

5

In [69]:
#Q3. Append an element to the end of a list.

lst = [1, 2, 3]
lst.append(4)
print(lst)

[1, 2, 3, 4]

In [70]:
#Q4. Insert an element at a specific index in a list.

lst = [1, 2, 4]
lst.insert(2, 3)  # Insert 3 at index 2
print(lst)

[1, 2, 3, 4]

In [71]:
#Q5. Remove an element from a list by its value

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [72]:
#Q6. Remove an element from a list by its index.

lst = [10, 20, 30, 40, 50]
del lst[2]  # Removes the element at index 2
print(lst)

[10, 20, 40, 50]

In [73]:
#Q7. Check if an element exists in a list

lst = [1, 2, 3, 4, 5]
print(3 in lst)   # True
print(10 in lst)  # False

True
False

In [83]:
#Q8. Find the index of the first occurrence of an element in a list

lst = [5, 3, 7, 3, 9]
index = lst.index(3)
print(index)

1

In [82]:
#Q9. Count the occurrences of an element in a list

lst = [1, 2, 2, 3, 2, 4]
count = lst.count(2)
print(count)

3

In [81]:
#Q10. Reverse the order of elements in a list

lst = [1, 2, 3, 4, 5]
lst.reverse()
print(lst)

[5, 4, 3, 2, 1]

In [80]:
#Q11. Sort a list in ascending order.

lst = [5, 3, 8, 1, 9]
lst.sort()
print(lst)

[1, 3, 5, 8, 9]

In [79]:
#Q12. Sort a list in descending order.

lst = [5, 3, 8, 1, 9]
lst.sort(reverse=True)
print(lst)

[9, 8, 5, 3, 1]

In [84]:
#Q13. Create a list of even numbers from 1 to 20

even_numbers = [x for x in range(1, 21) if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [85]:
#Q14. Create a list of odd numbers from 1 to 20

odd_numbers = [x for x in range(1, 21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [86]:
#Q15 Find the sum of all elements in a list

lst = [1, 2, 3, 4, 5]
total = sum(lst)
print(total)

15

In [87]:
#Q16. Find the maximum value in a list.

lst = [4, 7, 1, 9, 3]
maximum = max(lst)
print(maximum)

9

In [88]:
#Q17. Find the minimum value in a list

lst = [4, 7, 1, 9, 3]
minimum = min(lst)
print(minimum)

1

In [89]:
#Q18. Create a list of squares of numbers from 1 to 10.

squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [90]:
#Q19. Create a list of random numbers

import random

random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[53, 68, 65, 85, 25, 6, 54, 97, 32, 25]

In [91]:
#Q20. Remove duplicates from a list.

lst = [1, 2, 2, 3, 4, 4, 5]
unique_lst = list(set(lst))
print(unique_lst)

[1, 2, 3, 4, 5]

In [92]:
#Q21. Find the common elements between two lists.

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
common = list(set(list1) & set(list2))
print(common)

[3, 4]

In [93]:
#Q22. Find the difference between two lists  

list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2]

In [94]:
#Q23. Merge two lists

list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged = list1 + list2
print(merged)

[1, 2, 3, 4, 5, 6]

In [95]:
#Q24. Multiply all elements in a list by 2.

lst = [1, 2, 3, 4, 5]
doubled = [x * 2 for x in lst]
print(doubled)

[2, 4, 6, 8, 10]

In [96]:
#Q25. Filter out all even numbers from a list.

lst = [1, 2, 3, 4, 5, 6, 7, 8]
evens = [x for x in lst if x % 2 == 0]
print(evens)

[2, 4, 6, 8]

In [97]:
#Q26. Convert a list of strings to a list of integers

str_list = ['1', '2', '3', '4']
int_list = [int(x) for x in str_list]
print(int_list)

[1, 2, 3, 4]

In [98]:
#Q27. Convert a list of integers to a list of strings.

int_list = [1, 2, 3, 4]
str_list = [str(x) for x in int_list]
print(str_list)

['1', '2', '3', '4']

In [99]:
#Q28. Flatten a nested list

nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6]

In [100]:
#Q29. Create a list of the first 10 Fibonacci numbers

fibonacci = [0, 1]
for i in range(2, 10):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
print(fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [101]:
#Q30. Check if a list is sorted

def is_sorted(lst):
    return lst == sorted(lst)

print(is_sorted([1, 2, 3]))   
print(is_sorted([3, 2, 1]))

True
False

In [102]:
#Q31. Rotate a list to the left by `n` positions

lst = [1, 2, 3, 4, 5]
n = 2
rotated_left = lst[n:] + lst[:n]
print(rotated_left)

[3, 4, 5, 1, 2]

In [103]:
#Q32. Rotate a list to the right by `n` positions.

lst = [1, 2, 3, 4, 5]
n = 2
rotated_right = lst[-n:] + lst[:-n]
print(rotated_right)

[4, 5, 1, 2, 3]

In [104]:
#Q33 Create a list of prime numbers up to 50

def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

primes = [x for x in range(2, 51) if is_prime(x)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [105]:
#Q34. Split a list into chunks of size `n`

def split_into_chunks(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

lst = [1, 2, 3, 4, 5, 6, 7]
chunks = split_into_chunks(lst, 3)
print(chunks)

[[1, 2, 3], [4, 5, 6], [7]]

In [106]:
#Q35. Find the second largest number in a list

lst = [10, 20, 4, 45, 99]
unique_lst = list(set(lst))
unique_lst.sort()
second_largest = unique_lst[-2]
print(second_largest)

45

In [107]:
#Q36. Replace every element in a list with its square

lst = [1, 2, 3, 4, 5]
squared = [x**2 for x in lst]
print(squared)

[1, 4, 9, 16, 25]

In [108]:
#Q37. Convert a list to a dictionary where list elements become keys and their indices become values

lst = ['a', 'b', 'c']
dict_from_list = {value: index for index, value in enumerate(lst)}
print(dict_from_list)

{'a': 0, 'b': 1, 'c': 2}

In [109]:
#Q38. Shuffle the elements of a list randomly

import random

lst = [1, 2, 3, 4, 5]
random.shuffle(lst)
print(lst)

[5, 1, 2, 3, 4]

In [110]:
#Q39. Create a list of the first 10 factorial numbers.

import math

factorials = [math.factorial(i) for i in range(10)]
print(factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [111]:
#Q40. Check if two lists have at least one element in common

list1 = [1, 2, 3]
list2 = [4, 5, 3]

common = any(elem in list2 for elem in list1)
print(common)

True

In [112]:
#Q41. Remove all elements from a list.

lst = [1, 2, 3, 4]
lst.clear()
print(lst)

[]

In [113]:
#Q42. Replace negative numbers in a list with 0

lst = [5, -3, 7, -1, 0, -8]
new_lst = [0 if x < 0 else x for x in lst]
print(new_lst)

[5, 0, 7, 0, 0, 0]

In [114]:
#Q43. Convert a string into a list of words

sentence = "Data science is powerful"
words = sentence.split()
print(words)

['Data', 'science', 'is', 'powerful']

In [115]:
#Q44. Convert a list of words into a string

words = ['Data', 'science', 'is', 'powerful']
sentence = ' '.join(words)
print(sentence)

Data science is powerful

In [116]:
#Q45. Create a list of the first `n` powers of 2

n = 10
powers_of_2 = [2**i for i in range(n)]
print(powers_of_2)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [117]:
#Q46. Find the longest string in a list of strings

words = ["apple", "banana", "grapefruit", "kiwi"]
longest = max(words, key=len)
print(longest)

grapefruit

In [118]:
#Q47. Find the shortest string in a list of strings

words = ["apple", "banana", "grapefruit", "kiwi"]
shortest = min(words, key=len)
print(shortest)

kiwi

In [119]:
#Q48. Create a list of the first `n` triangular numbers

n = 10
triangular_numbers = [int(i * (i + 1) / 2) for i in range(1, n + 1)]
print(triangular_numbers)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [120]:
#Q49. Check if a list contains another list as a subsequence

def is_subsequence(main_list, sub_list):
    it = iter(main_list)
    return all(elem in it for elem in sub_list)

main = [1, 2, 3, 4, 5]
sub = [2, 4]
print(is_subsequence(main, sub))

True

In [121]:
#Q50. Swap two elements in a list by their indices

lst = [10, 20, 30, 40, 50]
i, j = 1, 3
lst[i], lst[j] = lst[j], lst[i]
print(lst)

[10, 40, 30, 20, 50]

                                               :: Tuple Based Practice Problem ::

In [251]:
#Q1. Create a tuple with integers from 1 to 5

tuple1 = (1, 2, 3, 4, 5)
print(tuple1)

(1, 2, 3, 4, 5)

In [127]:
#Q2. Access the third element of a tuple

third_element = tuple1[2]
print(third_element)

3

In [128]:
#Q3. Find the length of a tuple without using the `len()` function

length = sum(1 for _ in tuple1)
print(length)

5

In [129]:
#Q4. Count the occurrences of an element in a tuple

count_3 = tuple1.count(3)
print(count_3)

1

In [130]:
#Q5. Find the index of the first occurrence of an element in a tuple

index_4 = tuple1.index(4)
print(index_4)

3

In [250]:
#Q6. Check if an element exists in a tuple

exists = 5 in tuple1
print(exists)

True

In [132]:
#Q7. Convert a tuple to a list

list_from_tuple = list(tuple1)
print(list_from_tuple)

[1, 2, 3, 4, 5]

In [133]:
#Q8. Convert a list to a tuple

lst = [6, 7, 8]
tuple_from_list = tuple(lst)
print(tuple_from_list)

(6, 7, 8)

In [134]:
#Q9. Unpack the elements of a tuple into variables

a, b, c, d, e = tuple1
print(a, b, c, d, e)

1 2 3 4 5

In [135]:
#Q10. Create a tuple of even numbers from 1 to 10

even_tuple = tuple(i for i in range(1, 11) if i % 2 == 0)
print(even_tuple)

(2, 4, 6, 8, 10)

In [249]:
#Q11. Create a tuple of odd numbers from 1 to 10

odd_tuple = tuple(i for i in range(1, 11) if i % 2 != 0)
print(odd_tuple)

(1, 3, 5, 7, 9)

In [137]:
#Q12. Concatenate two tuples

tuple_a = (1, 2, 3)
tuple_b = (4, 5, 6)
concatenated = tuple_a + tuple_b
print(concatenated)

(1, 2, 3, 4, 5, 6)

In [138]:
#Q13. Repeat a tuple three times

repeated = tuple_a * 3
print(repeated)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [139]:
#Q14. Check if a tuple is empty

empty_tuple = ()
print(len(empty_tuple) == 0)

True

In [140]:
#Q15. Create a nested tuple

nested_tuple = (1, 2, (3, 4), 5)
print(nested_tuple)

(1, 2, (3, 4), 5)

In [141]:
#Q16. Access the first element of a nested tuple.

first_nested = nested_tuple[2][0]
print(first_nested)

3

In [248]:
#Q17. Create a tuple with a single element

single_element_tuple = (7,)
print(single_element_tuple)

(7,)

In [143]:
#Q18. Compare two tuples

t1 = (1, 2, 3)
t2 = (1, 2, 4)
print(t1 == t2)
print(t1 < t2)

False
True

In [144]:
#Q19. Delete a tuple

del t1

In [247]:
#Q20. Slice a tuple

t = (10, 20, 30, 40, 50)
slice_t = t[1:4]
print(slice_t)

(20, 30, 40)

In [146]:
#Q21. Find the maximum value in a tuple

t = (5, 10, 15, 20, 25)
print(max(t))

25

In [147]:
#Q22. Find the minimum value in a tuple

print(min(t))

5

In [148]:
#Q23. Convert a string to a tuple of characters

s = "hello"
tuple_chars = tuple(s)
print(tuple_chars)

('h', 'e', 'l', 'l', 'o')

In [246]:
#Q24. Convert a tuple of characters to a string

chars = ('h', 'e', 'l', 'l', 'o')
string_from_tuple = ''.join(chars)
print(string_from_tuple)

hello

In [150]:
#Q25. Create a tuple from multiple data types

mixed_tuple = (1, "hello", 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [151]:
#Q26. Check if two tuples are identical

t1 = (1, 2, 3)
t2 = (1, 2, 3)
print(t1 == t2)

True

In [152]:
#Q27. Sort the elements of a tuple

t = (3, 1, 4, 2, 5)
sorted_tuple = tuple(sorted(t))
print(sorted_tuple)

(1, 2, 3, 4, 5)

In [153]:
#Q28. Convert a tuple of integers to a tuple of strings

int_tuple = (1, 2, 3)
str_tuple = tuple(str(i) for i in int_tuple)
print(str_tuple)

('1', '2', '3')

In [154]:
#Q29. Convert a tuple of strings to a tuple of integers.

str_tuple = ('1', '2', '3')
int_tuple = tuple(int(s) for s in str_tuple)
print(int_tuple)

(1, 2, 3)

In [245]:
#Q30. Merge two tuples.

t1 = (1, 2, 3)
t2 = (4, 5, 6)
merged = t1 + t2
print(merged)

(1, 2, 3, 4, 5, 6)

In [156]:
#Q31. Flatten a nested tuple

nested_tuple = (1, (2, 3), (4, 5))
flattened = ()

for item in nested_tuple:
    if isinstance(item, tuple):
        flattened += item
    else:
        flattened += (item,)

print(flattened)

(1, 2, 3, 4, 5)

In [244]:
#Q32. Create a tuple of the first 5 prime numbers

primes = (2, 3, 5, 7, 11)
print(primes)

(2, 3, 5, 7, 11)

In [158]:
#Q33. Check if a tuple is a palindrome.

t = (1, 2, 3, 2, 1)
print(t == t[::-1])

True

In [159]:
#Q34. Create a tuple of squares of numbers from 1 to 5

squares = tuple(i**2 for i in range(1, 6))
print(squares)

(1, 4, 9, 16, 25)

In [160]:
#Q35. Filter out all even numbers from a tuple

t = (1, 2, 3, 4, 5, 6)
filtered = tuple(i for i in t if i % 2 != 0)
print(filtered)

(1, 3, 5)

In [161]:
#Q36. Multiply all elements in a tuple by 2

t = (1, 2, 3)
multiplied = tuple(i * 2 for i in t)
print(multiplied)

(2, 4, 6)

In [162]:
#Q37. Create a tuple of random numbers

import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_tuple)

(48, 73, 38, 74, 70)

In [243]:
#Q38. Check if a tuple is sorted

t = (1, 2, 3, 4)
print(all(t[i] <= t[i+1] for i in range(len(t)-1)))

True

In [164]:
#Q39. Rotate a tuple to the left by `n` positions.

t = (1, 2, 3, 4, 5)
n = 2
rotated = t[n:] + t[:n]
print(rotated)

(3, 4, 5, 1, 2)

In [165]:
#Q40. Rotate a tuple to the right by `n` positions.

t = (1, 2, 3, 4, 5)
n = 2
rotated = t[-n:] + t[:-n]
print(rotated)

(4, 5, 1, 2, 3)

In [242]:
#Q41. Create a tuple of the first 5 Fibonacci numbers

fib = (0, 1, 1, 2, 3)
print(fib)

(0, 1, 1, 2, 3)

In [168]:
#Q42. Create a tuple from user input

user_input = input("Enter comma-separated values: ")
t = tuple(user_input.split(','))
print(t)

Enter comma-separated values:  Shahreyar

('Shahreyar',)

In [241]:
#Q43. Swap two elements in a tuple

t = (10, 20, 30, 40)
lst = list(t)
i, j = 1, 3
lst[i], lst[j] = lst[j], lst[i]
t = tuple(lst)
print(t)

(10, 40, 30, 20)

In [170]:
#Q44. Reverse the elements of a tuple.

t = (1, 2, 3, 4, 5)
reversed_t = t[::-1]
print(reversed_t)

(5, 4, 3, 2, 1)

In [171]:
#Q45. Create a tuple of the first `n` powers of 2.

n = 5
powers = tuple(2 ** i for i in range(n))
print(powers)

(1, 2, 4, 8, 16)

In [240]:
#Q46. Find the longest string in a tuple of strings

t = ("apple", "Shahreyar", "cherry", "date")
longest = max(t, key=len)
print(longest)

Shahreyar

In [174]:
#Q47. Find the shortest string in a tuple of strings

t = ("apple", "Shahreyar", "cherry", "date")
shortest = min(t, key=len)
print(shortest)

date

In [239]:
#Q48. Create a tuple of the first `n` triangular numbers

n = 5
triangular = tuple(int(i*(i+1)/2) for i in range(1, n+1))
print(triangular)

(1, 3, 6, 10, 15)

In [176]:
#Q49. Check if a tuple contains another tuple as a subsequence

t = (1, 2, 3, 4, 5)
sub = (2, 4)

def is_subsequence(t, sub):
    it = iter(t)
    return all(elem in it for elem in sub)

print(is_subsequence(t, sub))

True

In [177]:
#Q50. Create a tuple of alternating 1s and 0s of length `n`

n = 6
alternating = tuple(1 if i % 2 == 0 else 0 for i in range(n))
print(alternating)

(1, 0, 1, 0, 1, 0)

                                                  :: Set Based Practice Problem ::

In [238]:
#Q1. Create a set with integers from 1 to 5

s1 = {1, 2, 3, 4, 5}
print(s1)

{1, 2, 3, 4, 5}

In [179]:
#Q2. Add an element to a set.

s1.add(6)
print(s1)

{1, 2, 3, 4, 5, 6}

In [180]:
#Q3. Remove an element from a set.

s1.remove(3)
print(s1)

{1, 2, 4, 5, 6}

In [181]:
#Q4. Check if an element exists in a set

print(4 in s1)

True

In [182]:
#Q5. Find the length of a set without using the `len()` function

count = 0
for _ in s1:
    count += 1
print(count)

5

In [183]:
#Q6. Clear all elements from a set

s1.clear()
print(s1)

set()

In [184]:
#Q7. Create a set of even numbers from 1 to 10

even_set = {x for x in range(1, 11) if x % 2 == 0}
print(even_set)

{2, 4, 6, 8, 10}

In [237]:
#Q8. Create a set of odd numbers from 1 to 10

odd_set = {x for x in range(1, 11) if x % 2 != 0}
print(odd_set)

{1, 3, 5, 7, 9}

In [187]:
#Q9. Find the union of two sets

union_set = even_set.union(odd_set)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [188]:
#Q10. Find the intersection of two sets

intersect_set = even_set.intersection({2, 3, 4, 5})
print(intersect_set)

{2, 4}

In [236]:
#Q11. Find the difference between two sets

diff_set = even_set.difference({2, 4})
print(diff_set)

{6, 8, 10, 12, 14}

In [190]:
#Q12. Check if a set is a subset of another set

print({2, 4}.issubset(even_set))

True

In [191]:
#Q13. Check if a set is a superset of another set

print(even_set.issuperset({2}))

True

In [192]:
#Q14. Create a set from a list

lst = [1, 2, 2, 3, 4]
set_from_list = set(lst)
print(set_from_list)

{1, 2, 3, 4}

In [193]:
#Q15. Convert a set to a list

list_from_set = list(set_from_list)
print(list_from_set)

[1, 2, 3, 4]

In [235]:
#Q16. Remove a random element from a set.

random_removed = set_from_list.pop()
print(random_removed, set_from_list)

4 set()

In [195]:
#Q17. Pop an element from a set

print(set_from_list.pop())

2

In [196]:
#Q18. Check if two sets have no elements in common

print(set_from_list.isdisjoint({10, 11}))

True

In [197]:
#Q19. Find the symmetric difference between two sets.

sym_diff = even_set.symmetric_difference(odd_set)
print(sym_diff)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [198]:
#Q20. Update a set with elements from another set

even_set.update({12, 14})
print(even_set)

{2, 4, 6, 8, 10, 12, 14}

In [199]:
#Q21. Create a set of the first 5 prime numbers

prime_set = {2, 3, 5, 7, 11}
print(prime_set)

{2, 3, 5, 7, 11}

In [233]:
#Q22. Check if two sets are identical.

a = {1, 2, 3}
b = {3, 2, 1}
print(a == b)

True

In [201]:
#Q23. Create a frozen set

fs = frozenset([1, 2, 3])
print(fs)

frozenset({1, 2, 3})

In [202]:
#Q24. Check if a set is disjoint with another set

x = {1, 2}
y = {3, 4}
print(x.isdisjoint(y))

True

In [203]:
#Q25. Create a set of squares of numbers from 1 to 5

squares = {x**2 for x in range(1, 6)}
print(squares)

{1, 4, 9, 16, 25}

In [204]:
#Q26. Filter out all even numbers from a set

nums = {1, 2, 3, 4, 5, 6}
odds = {x for x in nums if x % 2 != 0}
print(odds)

{1, 3, 5}

In [230]:
#Q27. Multiply all elements in a set by 2

nums = {1, 2, 3}
doubled = {x * 2 for x in nums}
print(doubled)

{2, 4, 6}

In [206]:
#Q28. Create a set of random numbers

import random
random_set = {random.randint(1, 100) for _ in range(5)}
print(random_set)

{3, 39, 16, 81, 28}

In [231]:
#Q29. Check if a set is empty

a = set()
print(len(a) == 0)

True

In [208]:
#Q30. Create a nested set (hint: use frozenset)

inner = frozenset([1, 2])
outer = {inner, 3, 4}
print(outer)

{3, 4, frozenset({1, 2})}

In [209]:
#Q31. Remove an element from a set using the discard method.

s = {1, 2, 3, 4, 5}
s.discard(3)
print(s)

{1, 2, 4, 5}

In [232]:
#Q32. Compare two sets.

a = {1, 2, 3}
b = {3, 2, 1}
print(a == b)

True

In [211]:
#Q33. Create a set from a string

s = "hello"
char_set = set(s)
print(char_set)

{'e', 'h', 'o', 'l'}

In [229]:
#Q34. Convert a set of strings to a set of integers

s = {"1", "2", "3"}
int_set = {int(x) for x in s}
print(int_set)

{1, 2, 3}

In [213]:
#Q35. Convert a set of integers to a set of strings.

s = {1, 2, 3}
str_set = {str(x) for x in s}
print(str_set)

{'1', '3', '2'}

In [214]:
#Q36. Create a set from a tuple

t = (1, 2, 3, 4, 5)
s = set(t)
print(s)

{1, 2, 3, 4, 5}

In [215]:
#Q37. Convert a set to a tuple

s = {1, 2, 3, 4, 5}
t = tuple(s)
print(t)

(1, 2, 3, 4, 5)

In [216]:
#Q38. Find the maximum value in a set

s = {10, 20, 5, 40}
max_val = max(s)
print(max_val)

40

In [217]:
#Q39. Find the minimum value in a set

s = {10, 20, 5, 40}
min_val = min(s)
print(min_val)

5

In [218]:
#Q40. Create a set from user input

user_input = input("Enter numbers separated by spaces: ")  # e.g., 1 2 3 3 4
s = set(map(int, user_input.split()))
print(s)

Enter numbers separated by spaces:  122

{122}

In [219]:
#Q41. Check if the intersection of two sets is empty

a = {1, 2, 3}
b = {4, 5, 6}
is_disjoint = a.isdisjoint(b)
print(is_disjoint)

True

In [220]:
#Q42. Create a set of the first 5 Fibonacci numbers.

fib = [0, 1]
while len(fib) < 5:
    fib.append(fib[-1] + fib[-2])
fib_set = set(fib)
print(fib_set)

{0, 1, 2, 3}

In [221]:
#Q43. Remove duplicates from a list using sets

lst = [1, 2, 2, 3, 4, 4, 5]
unique_set = set(lst)
print(unique_set)

{1, 2, 3, 4, 5}

In [222]:
#Q44. Check if two sets have the same elements, regardless of their count.

a = [1, 2, 2, 3]
b = [3, 1, 1, 2]
are_same = set(a) == set(b)
print(are_same)

True

In [223]:
#Q45. Create a set of the first `n` powers of 2

n = 5
powers = {2**i for i in range(n)}
print(powers)

{1, 2, 4, 8, 16}

In [224]:
#Q46. Find the common elements between a set and a list

s = {1, 2, 3, 4}
lst = [3, 4, 5, 6]
common = s.intersection(lst)
print(common)

{3, 4}

In [225]:
#Q47. Create a set of the first `n` triangular numbers

n = 5
triangular_set = {i * (i + 1) // 2 for i in range(1, n + 1)}
print(triangular_set)

{1, 3, 6, 10, 15}

In [226]:
#Q48. Check if a set contains another set as a subset.

a = {1, 2, 3, 4}
b = {2, 3}
is_subset = b.issubset(a)
print(is_subset)

True

In [227]:
#Q49. Create a set of alternating 1s and 0s of length `n`.

n = 6
alt_set = {i % 2 for i in range(n)}
print(alt_set)

{0, 1}

In [228]:
#Q50. Merge multiple sets into one

set1 = {1, 2}
set2 = {3, 4}
set3 = {4, 5}
merged = set1.union(set2, set3)
print(merged)

{1, 2, 3, 4, 5}